:root {
    --pst-font-family-base: "Fira Sans", Tahoma, var(--pst-font-family-base-system);
    --pst-font-family-heading: "Fira Sans",  Tahoma, Arial, var(--pst-font-family-base-system);

}

html[data-theme="light"] {
    --pst-color-primary: #8800ff;
}

html[data-theme="dark"] {
    --pst-color-primary: #8800ff;
}
